.nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.nav-itms {
  display: flex;
}
.nav-link {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #c0c0c0;
}
.nav-link:hover {
  box-shadow: rgba(254, 254, 254, 0.2) 0px 7px 29px 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: 1s;
  border-radius: 20px;
  background: #808080;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* -----------------BTN------------------- */
.button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0px 15px;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  color: white;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
}

.bell {
  width: 13px;
}

.bell path {
  fill: #00ce3e;
}

.arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgb(77, 77, 77);
  transition-duration: 0.2s;
}

.button:hover .arrow {
  animation: slide-right 0.6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button:active {
  transform: translate(1px, 1px);
  transition-duration: 0.2s;
}
/*  */
/* From Uiverse.io by Pradeepsaranbishnoi */
.code-loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 50px;
  opacity: 0.8;
}

.code-loader span {
  display: inline-block;
  animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse_414 {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
